* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100vh;
  }
  
  body {
    background-color: #ffc107da;
    font-family: Roboto, Arial, sans-serif;
  }
  
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  div.form-wrapper {
    width: 20%;
    height: 50%;
  }
  
  h1 {
    font-size: 32px;
    letter-spacing: 1px;
    margin: 10% 0 0 0;
    color: white;
  }
  
  form {
    margin: 10px 0;
    background-color: white;
    padding: 30px 25px;
    border-radius: 5px;
  }
  
  form .input-block {
    margin-bottom: 20px;
  }
  
  form .input-block label {
    font-size: 14px;
    color: darkslateblue;
  }
  
  form .input-block input {
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 7px;
    font-size: 16px;
    color: #7159c1;
    border-radius: 2px;
    border: 1px solid #ccddef;
    outline-color: #7159c1;
  }
  
button.btn.btn-outline-warning {
    width: 70px;
    display: block;
    margin: auto;
    padding: 7px;
    --bs-btn-hover-color: #fff;
    --bs-btn-active-color: #fff;
  }

  h6 {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  a {
    display: flex;
    justify-content: center;
  }
  
  form {
    overflow: hidden;
    animation: fade 0.2s;
  }
  
  form .input-block:nth-child(1) {
    animation: move 500ms;
  }
  
  form .input-block:nth-child(2) {
    animation: move 400ms;
    animation-delay: 100ms;
    animation-fill-mode: backwards;
  }
  
  form .btn-login {
    animation: move 400ms;
    animation-delay: 250ms;
    animation-fill-mode: backwards;
  }
  
  @keyframes move {
    from {
      opacity: 0;
      transform: translateX(-35%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  
  @keyframes fade {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .form-hide {
    animation: down 1.2s forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  @keyframes down {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100vh);
    }
  }
  
  @keyframes nono {
    0%,
    100% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(-15%);
    }
    70% {
      transform: translateX(15%);
    }
  }
  
  body {
    overflow: hidden;
  }
  